
@{
    ViewData["Title"] = "Index";
}
<div class="text-center w-50 d-block m-auto">

    <div class="card ">
        <div class="card-header">
            <div class="float-start">
                <img src="fsfsd" />
                Quote - Quore2
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote">
                <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
        </div>
    </div>
    <p>
        <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample">
            Toggle width collapse
        </button>
    </p>
    <div style="min-height: 120px;">
        <div class="collapse collapse-horizontal" id="collapseWidthExample">
            <div class="card card-body" style="width: 300px;">
                This is some placeholder content for a horizontal collapse. It's hidden by default and shown when triggered.
            </div>
        </div>
    </div>
</div>
