@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center w-50 d-block m-auto">
      
    <form class="form-floating position-relative " style="margin-bottom:80px;">
        <textarea class="form-control" rows="10" placeholder="What's Happening?" style="height: 100px; resize: none;"></textarea>
        <input type="file" class="primary position-absolute w-50 end-50 mt-2" />
        <button class="btn btn-primary position-absolute w-25 end-0 mt-2">Post</button>
    </form>

    <div class="card " >
        <div class="card-header">
            <div class="float-start">
                <img src="fsfsd" />
                Quote - Quore2
            </div>
        </div>
        <div class="card-body">
            <blockquote class="blockquote">
                <p>A well-known quote, contained in a blockquote element.</p>
            </blockquote>
        </div>
    </div>
</div>
    