@using Core.Application.ViewModels.User
@model List<UserViewModel>
@{
    ViewData["Title"] = "Search";
}

<div class="text-center w-50 d-block m-auto">
    @if(Model.Count == 0)
    {
        <h1>No se encontraron usuario </h1>
    }
    @foreach(UserViewModel user in Model) 
    { 
        <div class="d-flex justify-content-between m-5">
            <div class="d-flex align-items-center">
                <img src="@user.ProfilePicture" style="width:40px;height:40px;border-radius:50%;margin-right:10px;" />
                <form method="post" asp-controller="Home" asp-action="AddFriend">
                    <input type="hidden" name="Id" value=@user.Id />
                    <a style="text-decoration:none;">@user.UserName (@user.Name @user.LastName ) </a>
                <button class="btn btn-outline-info">Añadir a amigos</button>
                </form>
            </div>
        </div>
    }
</div>