@using Core.Application.ViewModels.User
@model UserSaveViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="container-fluid">
    <p class="text-danger">
        @ViewBag.Acceso
    </p>
    <form method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Register">
        <span asp-validation-for="Name" class="text-danger"></span>
        <div class="mb-3">
            <label asp-for="Name" class="form-label">Name</label>
            <input class="form-control" asp-for="Name" placeholder="Type to search...">
        </div>
        <span asp-validation-for="LastName" class="text-danger"></span>
        <div class="mb-3">
            <label asp-for="LastName" class="form-label">LastName</label>
            <input class="form-control" asp-for="LastName" placeholder="Type to search...">
        </div>
        <span asp-validation-for="Phone" class="text-danger"></span>
        <div class="mb-3">

            <label asp-for="Phone" class="form-label">Phone</label>
            <input class="form-control" asp-for="Phone" placeholder="Type to search...">
        </div>
        <span asp-validation-for="PictureFile" class="text-danger"></span>
        <div class="mb-3">
            <label asp-for="PictureFile" class="form-label">ProfilePicture</label>
            <input class="form-control" asp-for="PictureFile">
        </div>
        <span asp-validation-for="Mail" class="text-danger"></span>
        <div class="mb-3">

            <label asp-for="Mail" class="form-label">Mail</label>
            <input class="form-control" asp-for="Mail" placeholder="Type to search...">
        </div>
        <span asp-validation-for="UserName" class="text-danger"></span>
        <div class="mb-3">

            <label asp-for="UserName" class="form-label">UserName</label>
            <input class="form-control" asp-for="UserName" placeholder="Type to search...">
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="mb-3">

            <label asp-for="Password" class="form-label">Password</label>
            <input class="form-control" asp-for="Password" placeholder="Type to search...">
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="mb-3">

            <label asp-for="ConfirmPassword" class="form-label">Confirm Password</label>
            <input class="form-control" asp-for="ConfirmPassword" placeholder="Type to search...">
        </div>

        <button class="btn btn-primary">Register</button>
        <button class="btn btn-warning">Back</button>
    </form>

</div>
