@using Core.Application.ViewModels.User
@model UserSaveViewModel
@{
    ViewData["Title"] = "Register";
}
<div class="container-fluid row">
    <form class="offset-4 col-4 containerLogin p-5 pt-0" method="post" enctype="multipart/form-data" asp-controller="User" asp-action="Register">
        <h2 class="text-center p-4">Register</h2>
        <p class="text-center">Foto de perfil</p>
        <div class="mb-3 offset-4 col-4 text-center ImgProfile">
            <img id="PreviewPicture" class="PreviewPicture" />
            <input class="form-control" id="fileProfile" accept="image/*" asp-for="PictureFile">
            <i class='bx bx-upload'></i>
        </div>
        <h6 class="text-danger">
            @ViewBag.Acceso
        </h6>
        <span asp-validation-for="Name" class="text-danger"></span>
        <div class="mb-3">
            <input class="form-control" asp-for="Name" placeholder="Name">
        </div>
        <span asp-validation-for="LastName" class="text-danger"></span>
        <div class="mb-3">
            <input class="form-control" asp-for="LastName" placeholder="LastName">
        </div>
        <span asp-validation-for="Phone" class="text-danger"></span>
        <div class="mb-3">
            <input class="form-control" asp-for="Phone" placeholder="Phone">
        </div>

        <span asp-validation-for="Mail" class="text-danger"></span>
        <div class="mb-3">
            <input class="form-control" asp-for="Mail" placeholder="Mail">
        </div>
        <span asp-validation-for="UserName" class="text-danger"></span>
        <div class="mb-3">
            <input class="form-control" asp-for="UserName" placeholder="UserName">
        </div>
        <span asp-validation-for="Password" class="text-danger"></span>
        <div class="mb-3">
            <input class="form-control" asp-for="Password" placeholder="Password">
        </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        <div class="mb-3">
            <input class="form-control" asp-for="ConfirmPassword" placeholder="Confirm Password">
        </div>
        <div class="d-grid gap-2 d-block">
            <button class="btn btn-outline-primary">Register</button>
            <a class="btn btn-outline-warning" asp-controller="User" asp-action="Index">Back</a>
        </div>
    </form>

</div>
