@using Microsoft.AspNetCore.Http; 
@using Core.Application.Helpers;
@using Core.Application.ViewModels.User;

@inject IHttpContextAccessor httpContext;
@{ 
    UserViewModel userViewModel = httpContext.HttpContext.Session.Get<UserViewModel>("user");
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RedSocial</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link href="~/css/Styles.css" rel="stylesheet" />
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>

    <header>
        <nav class="navbar navbar-expand-sm  w-100 navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-around">
                <div>
                    <a class="navbar-brand" asp-controller="@(User != null ? "Home" : "User")" asp-action="Index"> RedSocial</a>
                </div>
                @if (userViewModel == null)
                {
                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link " asp-controller="User" asp-action="Register">Registrarme</a>
                            </li>
                        </ul>
                    </div>

                }
                else
                {

            <form method="post" asp-controller="Home" asp-action="Search" class="w-25 d-flex align-items-center">
                <input name="Username" class="form-control" placeholder="Search" />
                <button type="submit" class="search">
                    <i class='bx bx-search-alt-2 '></i>
                </button>
            </form>
                   <div class="d-sm-inline-flex justify-content-between align-items-center" style="width:300px;">
                    <div class="navbar-nav flex-grow-1">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="">
                                <a class="" asp-controller="Home" asp-action="Friends">
                                <i class='bx bx-group' style="font-size:2rem;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item d-flex">
                                <img src="@userViewModel.ProfilePicture" class="PreviewPicture" style="width:40px;height:40px;" />
                            </li>
                        </ul>
                    </div>

                    <div>
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item d-flex align-items-center">
                                <a class="nav-link text-danger" style="font-size:1.1rem;" asp-controller="User" asp-action="LogOut">
                                    Sign Out
                                    <i class='bx bx-log-out ml-1 align-content-center' style="font-size:1.3rem;"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                   </div>
                }
            </div>
        </nav>

    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
    <script src="~/js/main.js"></script>
</body>
</html>
